*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
}
.players{
    padding: 30px;
    text-align: center;
}
.start_game *{
    margin-top: 10px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
}
.player{
    color: black;
}
.l_t_1{
    color: green;
}
.l_t_2{
    color: yellow;
}
.anothers{
    font-size: 3em;
}
.anothers *{
    padding: 10px;
    margin: 4px;
    border-radius: 6px;
}
.anothers1{
    background-color: green;
    color: red;
}
.anothers2{
    background-color: yellow;
    color: blue;
}
.anothers3{
    background-color: red;
    color: green;
}
.container{
    display: flex;
    flex-wrap: wrap;
    
    justify-content: flex-start;

    align-self: center;
}

.start_game{
    margin: 200px auto;
}

.gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    column-gap: 0;
    row-gap: 0.5em;
    column-gap: 0.5em;
    max-width: 700px;
    max-height: 700px;
}

.box{
    width: 150px;
    height: 150px;
    background-color: white;
}
/* .games{
    flex-basis: 800px;
} */
.who_won{
    
    margin: 200px auto;

}
.btn{
    color: wheat;
    background-color: forestgreen;
    padding: 5px;
    font-size: 1.5em;
    width: 110px;
    border-radius: 10px;
    border: none;
    margin-top: 100px;
}
.btn:hover{
    scale: 1.03;
}